<section class="sub-below-address py-lg-4 py-md-3 py-sm-3 py-3">
        <div class="container py-lg-5 py-md-5 py-sm-4 py-3">
           <h3 class="title clr text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">Liên Hệ Với Chúng Tôi</h3>
           <div class="icons mt-4 text-center">
              <ul>
                 <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                 <li><a href="#"><span class="fas fa-envelope"></span></a></li>
                 <li><a href="#"><span class="fas fa-rss"></span></a></li>
                 <li><a href="#"><span class="fab fa-vk"></span></a></li>
              </ul>
              <p class="my-3">Chúng tôi tự hào là nhà cung cấp dịch vụ tốt nhất. 
              </p>
           </div>
           <div class="email-sub-agile">
              <form action="#" method="post">
                 <div class="form-group sub-info-mail">
                    <input type="email" class="form-control email-sub-agile" placeholder="Email">
                 </div>
                 <div class="text-center">
                    <button  class="btn subscrib-btnn"><a href="/signup">Đăng Ký</a></button>
                 </div>
              </form>
           </div>
        </div>
     </section>
     <!--//subscribe-->
     <!-- footer -->
     <footer class="py-lg-4 py-md-3 py-sm-3 py-3 text-center">
        <div class="copy-agile-right">
           <p> 
              © 2019 Cửa Hàng Đồ Chơi | Thiết Kế Bởi TranHuynh</a>
           </p>
        </div>
     </footer>
     <!-- //footer -->
     <!-- Modal 1-->
     <div class="modal fade"  id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
           <div class="modal-dialog" role="document">
              <div class="modal-content" style="background: rgb(255, 233, 233); border-radius: 2px; border: 1px solid rgb(251, 196, 196); box-sizing: border-box; color: #de5959; float: none; font-family: Arial, sans-serif; font-size: 15px; margin: 0px auto; outline: 0px; padding: 15px 20px; vertical-align: baseline;">
                 <h1>BẠN ĐÃ CÓ TÀI KHOẢN!</h1>
                    <div class="btn_"><a href="/signin">Đăng Nhập</a><a href="/signup">Đăng Ký</a></div>
                
                 </div>
              </div>
           </div>
        </div>