<!DOCTYPE html>
<html lang="vn">
   <head>
      <title>Trang chủ</title>
     </script>
      <!--meta tags -->
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="keywords" content="Toys Shop Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
         Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
      <script>
         addEventListener("load", function () {
         	setTimeout(hideURLbar, 0);
         }, false);
         
         function hideURLbar() {
         	window.scrollTo(0, 1);
         }
      </script>
      <link rel="stylesheet"  href='../stylesheets/style.css'type="text/css" media="all">
      <!--//meta tags ends here-->
      <!--booststrap-->
      <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all">
      <!--//booststrap end-->
      <!-- font-awesome icons -->
      <link href="css/fontawesome-all.min.css" rel="stylesheet" type="text/css" media="all">
      <!-- //font-awesome icons -->
      <!--Shoping cart-->
      <link rel="stylesheet" href="css/shop.css" type="text/css" />
      <!--//Shoping cart-->
      <!--stylesheets-->
      <link href="css/style.css" rel='stylesheet' type='text/css' media="all">
      <!--//stylesheets-->
      <link href="//fonts.googleapis.com/css?family=Sunflower:500,700" rel="stylesheet">
      <link href="//fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
   </head>
<body>
      <!--headder-->
      <div class="header-outs" id="home">
      <div class="header-bar">
         <div class="info-top-grid">
            <div class="info-contact-agile">
               <ul>
                  <li>
                     <span class="fas fa-phone-volume"></span>
                     <p>+0338847312</p>
                  </li>
                  <li>
                     <span class="fas fa-envelope"></span>
                     <p><a href="mailto:info@example.com">tranhuynh01674277419@gmail.com</a></p>
                  </li>
                  <li>
                  </li>
               </ul>
            </div>
         </div>
         <div class="container-fluid">
            <div class="hedder-up row">
               <div class="col-lg-3 col-md-3 logo-head">
                  <h1><a class="navbar-brand" href="index.html">Cửa Hàng Đồ Chơi</a></h1>
               </div>
               <div class="col-lg-5 col-md-6 search-right">
                  <form class="form-inline my-lg-0">
                     <input class="form-control mr-sm-2" type="search" placeholder="Tìm kiếm">
                     <button class="btn" type="submit">Tìm kiếm</button>
                  </form>
               </div>
               <div class="col-lg-4 col-md-3 right-side-cart">
                  <div class="cart-icons">
                     <ul>
                        <li>
                           <span class="far fa-heart"></span>
                        </li>
                        <li>
                           <button type="button" data-toggle="modal" data-target="#exampleModal"> <span class="far fa-user"></span></button>
                        </li>
                        <li class="toyscart toyscart2 cart cart box_1">
                           <form action="#" method="post" class="last">
                              <input type="hidden" name="cmd" value="_cart">
                              <input type="hidden" name="display" value="1">
                              <button class="top_toys_cart" type="submit" name="submit" value="">
                              <span class="fas fa-cart-arrow-down"></span>
                              </button>
                           </form>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
         <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
               <ul class="navbar-nav ">
                  <li class="nav-item ">
                     <a class="nav-link" href="index.html">TRANG CHỦ <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item ">
                     <a href="about.html" class="nav-link">GIỚI THIỆU</a>
                  </li>
                   <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     SẢN PHẨM
                     </a>
                     <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="nav-link" href="product.html">ĐỒ CHƠI TRẺ EM</a>
                        <a class="nav-link " href="product.html">GẤU BÔNG</a>
                        <a class="nav-link " href="product.html">MÓC KHÓA ĐỒ CHƠI</a>
                        <a class="nav-link " href="product.html">ĐỒ CHƠI CON TRAI</a>
                     </div>
                  </li>
                  <li class="nav-item">
                     <a href="contact.html" class="nav-link">LIÊN HỆ</a>
                  </li>
                  <li class="nav-item">
                     <a href="shop.html" class="nav-link">Mua Ngay</a>
                  </li>
               </ul>
            </div>
         </nav>
      </div>
	    </div>
      <!--//headder-->
      <!-- banner -->
      <div class="inner_page-banner one-img">
      </div>
      <!--//banner -->
      <!-- short -->
      <div class="using-border py-3">
         <div class="inner_breadcrumb  ml-4">
            <ul class="short_ls">
               <li>
                  <a href="index.html">TRANG CHỦ</a>
                  <span>/ /</span>
               </li>
               <li>GIỚI THIỆU</li>
            </ul>
         </div>
      </div>
            <!-- Slideshow 4 -->
            <div class="slider text-center">
               <div class="callbacks_container">
                  <ul class="rslides" id="slider4">
                     <li>
                        <div class="slider-img one-img">
                           <div class="container">
                              <div class="slider-info ">
                                 <h5>CHỌN ĐỒ CHƠI TỐT NHẤT CHO<br>ĐỨA TRẺ CỦA BẠN</h5>
                                 <div class="bottom-info">
                                    <p>Chúng tôi tự tin là nơi cung cấp đồ chơi trẻ em đáng tin cậy</p>
                                 </div>
                                 <div class="outs_more-buttn">
                                    <a href="about.html">Đọc thêm</a>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </li>
                     <li>
                        <div class="slider-img two-img">
                           <div class="container">
                              <div class="slider-info ">
                                 <h5>Đồ chơi thông minh và Gấu Teddy<br>Cho bé</h5>
                                 <div class="bottom-info">
                                    <p>Giúp cho trẻ phát triển thông minh và có thêm người bạn đồng hành dễ thương</p>
                                 </div>
                                 <div class="outs_more-buttn">
                                    <a href="about.html">Đọc thêm</a>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </li>
                     <li>
                        <div class="slider-img three-img">
                           <div class="container">
                              <div class="slider-info">
                                 <h5>Ngôi nhà của búp bê cho<br> Bé gái</h5>
                                 <div class="bottom-info">
                                    <p>Giúp bé thõa sức tưởng tượng với các nhân vật hoạt hình nổi tiếng</p>
                                 </div>
                                 <div class="outs_more-buttn">
                                    <a href="about.html">Đọc thêm</a>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </li>
                  </ul>
               </div>
               <!-- This is here just to demonstrate the callbacks -->
               <!-- <ul class="events">
                  <li>Example 4 callback events</li>
                  </ul>-->
               <div class="clearfix"></div>
            </div>
         </div>
         <!-- //banner -->
         <!-- about -->
         <section class="about py-lg-4 py-md-3 py-sm-3 py-3" id="about">
            <div class="container py-lg-5 py-md-5 py-sm-4 py-4">
               <h3 class="title text-center mb-lg-5 mb-md-4  mb-sm-4 mb-3">Sản phẩm được ưa chuộng</h3>
               <div class="row banner-below-w3l">
                  <div class="col-lg-4 col-md-6 col-sm-6 text-center banner-agile-flowers">
                     <img src="images/a1.jpg" class="img-thumbnail" alt="">
                     <div class="banner-right-icon">
                        <h4 class="pt-3">Đồ chơi cho bé</h4>
                     </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-6 text-center banner-agile-flowers">
                     <img src="images/a2.jpg" class="img-thumbnail" alt="">
                     <div class="banner-right-icon">
                        <h4 class="pt-3">Gấu thân thiện</h4>
                     </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-6 text-center banner-agile-flowers">
                     <img src="images/a3.jpg" class="img-thumbnail" alt="">
                     <div class="banner-right-icon">
                        <h4 class="pt-3">Gấu tự tin</h4>
                     </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-6 mt-3 text-center banner-agile-flowers">
                     <img src="images/a4.jpg" class="img-thumbnail" alt="">
                     <div class="banner-right-icon">
                        <h4 class="pt-3">Gấu hiền dịu</h4>
                     </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-6 mt-3 text-center banner-agile-flowers">
                     <img src="images/a5.jpg" class="img-thumbnail" alt="">
                     <div class="banner-right-icon">
                        <h4 class="pt-3">Gấu vui vẻ</h4>
                     </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-6 mt-3 text-center banner-agile-flowers">
                     <img src="images/a6.jpg" class="img-thumbnail" alt="">
                     <div class="banner-right-icon">
                        <h4 class="pt-3">Gấu yêu thương</h4>
                     </div>
                  </div>
                  <div class="toys-grids-upper">
                     <div class="about-toys-off">
                        <h2>Giảm ngay đến <span>70% </span>Khi mua tại đây</h2>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <!-- //about -->
         <!--new Arrivals -->
         <section class="blog py-lg-4 py-md-3 py-sm-3 py-3">
            <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
               <h3 class="title clr text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">Sản phẩm mới</h3>
               <div class="slid-img">
                  <ul id="flexiselDemo1">
                     <li>
                        <div class="agileinfo_port_grid">
                           <img src="images/a1.jpg" alt=" " class="img-fluid" />
                           <div class="banner-right-icon">
                              <h4 class="pt-3">Gẫu mạnh mẽ</h4>
                           </div>
                           <div class="outs_more-buttn">
                              <a href="shop.html">Mua ngay</a>
                           </div>
                        </div>
                     </li>
                     <li>
                        <div class="agileinfo_port_grid">
                           <img src="images/a2.jpg" alt=" " class="img-fluid" />
                           <div class="banner-right-icon">
                              <h4 class="pt-3">Gấu điềm đạm</h4>
                           </div>
                           <div class="outs_more-buttn">
                              <a href="shop.html">Mua ngay</a>
                           </div>
                        </div>
                     </li>
                     <li>
                        <div class="agileinfo_port_grid">
                           <img src="images/a3.jpg" alt=" " class="img-fluid" />
                           <div class="banner-right-icon">
                              <h4 class="pt-3">Gấu nũng nịu</h4>
                           </div>
                           <div class="outs_more-buttn">
                              <a href="shop.html">Mua ngay</a>
                           </div>
                        </div>
                     </li>
                     <li>
                        <div class="agileinfo_port_grid ">
                           <img src="images/a4.jpg" alt=" " class="img-fluid" />
                           <div class="banner-right-icon">
                              <h4 class="pt-3">Gấu mập mạp</h4>
                           </div>
                           <div class="outs_more-buttn">
                              <a href="shop.html">Mua ngay</a>
                           </div>
                        </div>
                     </li>
                     <li>
                        <div class="agileinfo_port_grid">
                           <img src="images/a5.jpg" alt=" " class="img-fluid" />
                           <div class="banner-right-icon">
                              <h4 class="pt-3">Gấu lễ phép</h4>
                           </div>
                           <div class="outs_more-buttn">
                              <a href="shop.html">Mua ngay</a>
                           </div>
                        </div>
                     </li>
                     <li>
                        <div class="agileinfo_port_grid ">
                           <img src="images/a6.jpg" alt=" " class="img-fluid" />
                           <div class="banner-right-icon">
                              <h4 class="pt-3">Gấu buồn bã</h4>
                           </div>
                           <div class="outs_more-buttn">
                              <a href="shop.html">Mua ngay</a>
                           </div>
                        </div>
                     </li>
                  </ul>
               </div>
            </div>
         </section>
         <!--//about -->
         <!--Customers Review -->
         <section class="clients py-lg-4 py-md-3 py-sm-3 py-3" id="clients">
            <div class="container py-lg-5 py-md-5 py-sm-4 py-3">
               <h3 class="title clr text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">Nhận Xét Của Khách Hàng</h3>
               <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner">
                     <div class="carousel-item active">
                        <div class="row">
                           <div class="col-lg-6 clients-w3layouts-row">
                              <div class="least-w3layouts-text-gap">
                                 <div class="row">
                                    <div class="col-md-4 col-sm-4 news-img">
                                       <img src="images/t1.jpg" alt="" class="image-fluid">
                                    </div>
                                    <div class="col-md-8 col-sm-8 clients-says-w3layouts">
                                       <h4>Minh Anh
                                       </h4>
                                       <span class="mt-2">Rất hài lòng</span>
                                    </div>
                                    <div class="mt-3 news-agile-text">
                                       <img src="images/tt1.jpg" alt="" class="image-fluid">
                                       <p class="mt-3"><span class="fas fa-quote-left"></span>  Sản phẩm rất đẹp, chúng tôi rất hài lòng về sản phẩm và chất lượng của chúng. Chúng tôi sẽ ủng hộ thêm. <span class="fas fa-quote-right"></span>
                                       </p>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-lg-6 clients-w3layouts-row">
                              <div class="least-w3layouts-text-gap">
                                 <div class="row">
                                    <div class="col-md-4 col-sm-4 news-img">
                                       <img src="images/t2.jpg" alt="" class="image-fluid">
                                    </div>
                                    <div class="col-md-8 col-sm-8 clients-says-w3layouts">
                                       <h4>Như Mỹ
                                       </h4>
                                       <span class="mt-2">Khá hài lòng</span>
                                    </div>
                                    <div class="mt-3 news-agile-text">
                                       <img src="images/tt2.jpg" alt="" class="image-fluid">
                                       <p class="mt-3"><span class="fas fa-quote-left"></span>  Sản phẩm giao hàng đúng hạn, sản phẩm như hình và con tôi rất thích chúng. <span class="fas fa-quote-right"></span>
                                       </p>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="carousel-item">
                        <div class="row">
                           <div class="col-lg-6 clients-w3layouts-row">
                              <div class="least-w3layouts-text-gap">
                                 <div class="row">
                                    <div class="col-md-4 col-sm-4 news-img">
                                       <img src="images/t1.jpg" alt="" class="image-fluid">
                                    </div>
                                    <div class="col-md-8 col-sm-8 clients-says-w3layouts">
                                       <h4>Minh Anh
                                       </h4>
                                       <span class="mt-2">Rất hài lòng</span>
                                    </div>
                                    <div class="mt-3 news-agile-text">
                                       <img src="images/tt1.jpg" alt="" class="image-fluid">
                                       <p class="mt-3"><span class="fas fa-quote-left"></span>  Sản phẩm rất đẹp, chúng tôi rất hài lòng về sản phẩm và chất lượng của chúng. Chúng tôi sẽ ủng hộ thêm. <span class="fas fa-quote-right"></span>
                                       </p>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-lg-6 clients-w3layouts-row">
                              <div class="least-w3layouts-text-gap">
                                 <div class="row">
                                    <div class="col-md-4 col-sm-4 news-img">
                                       <img src="images/t2.jpg" alt="" class="image-fluid">
                                    </div>
                                    <div class="col-md-8 col-sm-8 clients-says-w3layouts">
                                       <h4>Như Mỹ
                                       </h4>
                                       <span class="mt-2">Khá hài lòng</span>
                                    </div>
                                    <div class="mt-3 news-agile-text">
                                       <img src="images/tt2.jpg" alt="" class="image-fluid">
                                       <p class="mt-3"><span class="fas fa-quote-left"></span>  Sản phẩm giao hàng đúng hạn, sản phẩm như hình và con tôi rất thích chúng. <span class="fas fa-quote-right"></span>
                                       </p>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="carousel-item">
                        <div class="row">
                           <div class="col-lg-6 clients-w3layouts-row">
                              <div class="least-w3layouts-text-gap">
                                 <div class="row">
                                    <div class="col-md-4 col-sm-4 news-img">
                                       <img src="images/t2.jpg" alt="" class="image-fluid">
                                    </div>
                                    <div class="col-md-8 col-sm-8 clients-says-w3layouts">
                                       <h4>Minh Anh
                                       </h4>
                                       <span class="mt-2">Rất hài lòng</span>
                                    </div>
                                    <div class="mt-3 news-agile-text">
                                       <img src="images/tt1.jpg" alt="" class="image-fluid">
                                       <p class="mt-3"><span class="fas fa-quote-left"></span>  Sản phẩm rất đẹp, chúng tôi rất hài lòng về sản phẩm và chất lượng của chúng. Chúng tôi sẽ ủng hộ thêm. <span class="fas fa-quote-right"></span>
                                       </p>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-lg-6 clients-w3layouts-row">
                              <div class="least-w3layouts-text-gap">
                                 <div class="row">
                                    <div class="col-md-4 col-sm-4 news-img">
                                       <img src="images/t2.jpg" alt="" class="image-fluid">
                                    </div>
                                    <div class="col-md-8 col-sm-8 clients-says-w3layouts">
                                       <h4>Như Mỹ
                                       </h4>
                                       <span class="mt-2">Khá hài lòng</span>
                                    </div>
                                    <div class="mt-3 news-agile-text">
                                       <img src="images/tt2.jpg" alt="" class="image-fluid">
                                       <p class="mt-3"><span class="fas fa-quote-left"></span>  Sản phẩm giao hàng đúng hạn, sản phẩm như hình và con tôi rất thích chúng. <span class="fas fa-quote-right"></span>
                                       </p>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Trước</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Sau</span>
                  </a>
               </div>
            </div>
         </section>
         <!--//Customers Review -->
         <!-- Product-view -->
         <section class="product py-lg-4 py-md-3 py-sm-3 py-3">
            <div class="container py-lg-5 py-md-5 py-sm-4 py-3">
               <h3 class="title text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">Mẫu Mới Nhất</h3>
               <div class=" img-toy-w3l-top">
               </div>
               <div class="mt-lg-4 mt-3 product-info-img">
                  <p>Đây là chú gấu bông mềm mại có tên là Doll.Chú rất thương yêu và lễ phép với bố mẹ. 
                  </p>
                  <div class="clients_more-buttn">
                     <a href="shop.html">Mua ngay</a>
                  </div>
               </div>
               <div class="row">
                  <div class="col-lg-6 img-toy-w3l-left">
                     <div class="toys-img-one">
                     </div>
                     <div class="mt-lg-4 mt-3 product-info-img">
                        <p>Còn đây là chú gấu bông Bull sống ở Nam Cực lạnh lẽo.Chú rất siêng năng và bắt cá rất giỏi
                        </p>
                        <div class="clients_more-buttn">
                           <a href="shop.html">Mua ngay</a>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-6 img-toy-agile-right">
                     <div class="toys-img-one-two">
                     </div>
                     <div class="mt-lg-4 mt-3 product-info-img">
                        <p>Đây là Moll.Chú gấu thân thiện và xinh đẹp
                        </p>
                        <div class="clients_more-buttn">
                           <a href="shop.html">Mua ngay</a>
                        </div>
                     </div>
                     <div class="toys-img-one-three">
                     </div>
                     <div class="mt-lg-4 mt-3 product-info-img">
                        <p>Đây là Oma.Oma rất đảm đang và hiếu thảo.
                        </p>
                        <div class="clients_more-buttn">
                           <a href="shop.html">Mua ngay</a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <!--//Product-view-->
         <!--//Product-view-->
         <section class="premium py-lg-4 py-md-3 py-sm-3 py-3">
            <div class="container py-lg-5 py-md-5 py-sm-4 py-3">
               <h3 class="title clr text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">Chú Gấu Đặc Biệt</h3>
               <div class="row">
                  <div class="col-lg-6 agileits-toys-left"></div>
                  <div class="col-lg-6 agileits-toys-right">
                     <div class="sub-agile-info-toys">
                        <p>Đây là sản phẩm đặc biệt chỉ sản xuất có giới hạn và được tạo ra từ các nguyên liệu thân thiện với môi trường và tốt cho bé nhất.
                        </p>
                        <div class="clients_more-buttn">
                           <a href="shop.html" class="mb-0">Mua ngay</a>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="row mt-lg-4 mt-md-4 mt-3">
                  <div class="col-lg-6 agileits-toys-right">
                     <div class="sub-agile-info-toys">
                        <p>Chú tên là Mna.Chú gấu ham ăn và tốt bụng.
                        </p>
                        <div class="clients_more-buttn ">
                           <a href="shop.html" class="mb-0">Mua ngay</a>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-6 agileits-toys-left"></div>
               </div>
            </div>
         </section>
         <!--Product-about-->
         <section class="about py-lg-4 py-md-3 py-sm-3 py-3">
            <div class="container py-lg-5 py-md-5 py-sm-4 py-3">
               <h3 class="title text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">Giới thiệu về sản phẩm của chúng tôi</h3>
               <div class="about-products-w3layouts">
                  <p>Những chú gấu bông to hay gấu bông nhỏ thường được mọi người coi như bạn tri kỉ. Bởi vậy mỗi khi đi ngủ đều được ôm áp, vuốt ve. Do đó, nếu như chúng không đảm bảo chất lượng, sẽ gây ảnh hưởng rất lớn tới da, cũng như đường hô hấp của người sử dụng.

                        Lúc này, những chú gấu bông được làm từ nguyên liệu kém chất lượng nó thể bị rụng lông. Không những khiến chú gấu chở nên xấu xí, mà còn ảnh hưởng đến sức khỏe của con người thông qua đường hô hấp.
                        
                        Ngoài ra, để tiết kiệm nguyên liệu, chi phí sản xuất. Các shop gấu bông thường nhập những SP được nhồi bên trong bụng vải vụn, nguyên liệu quá hạn, thậm trí còn có cả rác. Đây chính là môi trường để vi khuẩn phát triển khi gặp điều kiện thuận lợi. Khi đó, nó sẽ ảnh hưởng nghiêm trọng tới sức khỏe của con người.
                  </p>
                  <p class="my-lg-4 my-md-3 my-3">Một chú gấu bông cao cấp khi sờ vào lớp lông bên ngoài sẽ rất mềm, mịn, không có cảm giác ráp tay, và đặc biệt lông nó sẽ không bị xoắn cục. Phần các đường chỉ may sẽ rất chắc chắn, đều, khít với nhau chứ không bị hở ruột bên trong hoặc bung chỉ.

                        Về phần ruột bên trong, nếu gấu được nhồi loại bông chất lượng khi bạn ấn vào chú gấu nó có độ đàn hồi rất cao. Gấu không bị xẹp, lún mà nhanh chóng trở về trạng thái ban đầu. Lưu ý, để đảm bảo tốt nhất bạn nên rạch một đường nhỏ ở phía dưới thân gấu ra và kiểm tra thật kỹ. Nếu như chú gấu này đảm bảo chất lượng, ruột bên trong sẽ được sử dụng bông PP. Đây là một loại bông cao cấp, chuyên dùng làm thú nhồi bông, màu trắng tinh, không mùi, an toàn cho sức khỏe con người, thân thiện với môi trường, chịu được nhiệt độ cao. 
                  </p>
                  <p>Và một lưu ý quan trọng nhất đó là bạn hãy tìm kiếm địa chỉ bán gấu bông chính hãng, uy tín. 1 shop chuyên bán gấu bông đẹp giá rẻ, đảm bảo chất lượng gấu nhồi bông luôn được tốt nhất. Bạn có thể tham khảo tại cuahangdochoi, đây là một Shop cung cấp thú nhồi bông uy tín, được đông đảo mọi người tin cậy. Tất cả các loại gấu bông ở đây đều có nguồn gốc xuất xứ rõ ràng, nên bạn có thể hoàn toàn yên tâm về chất lượng.
                  </p>
               </div>
            </div>
         </section>
         <!--//Product-about-->
         <!--subscribe-address-->
         <section class="subscribe">
            <div class="container-fluid">
            <div class="row">
               <div class="col-lg-6 col-md-6 map-info-right px-0">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3150859.767904157!2d-96.62081048651531!3d39.536794757966845!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1408111832978"> </iframe>
               </div>
               <div class="col-lg-6 col-md-6 address-w3l-right text-center">
                  <div class="address-gried ">
                     <span class="far fa-map"></span>
                     <p>256 Trần Hưng Đạo, Tp.HCM<br>Việt Nam
                     <p>
                  </div>
                  <div class="address-gried mt-3">
                     <span class="fas fa-phone-volume"></span>
                     <p> +0338847312<br>+010123 4565</p>
                  </div>
                  <div class=" address-gried mt-3">
                     <span class="far fa-envelope"></span>
                     <p><a href="mailto:info@example.com">tranhuynh@example1.com</a>
                        <br><a href="mailto:info@example.com">trannguyen@example2.com</a>
                     </p>
                  </div>
               </div>
            </div>
          </div>
         </section>
         <!--//subscribe-address-->
         <section class="sub-below-address py-lg-4 py-md-3 py-sm-3 py-3">
            <div class="container py-lg-5 py-md-5 py-sm-4 py-3">
               <h3 class="title clr text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">Liên Hệ Với Chúng Tôi</h3>
               <div class="icons mt-4 text-center">
                  <ul>
                     <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                     <li><a href="#"><span class="fas fa-envelope"></span></a></li>
                     <li><a href="#"><span class="fas fa-rss"></span></a></li>
                     <li><a href="#"><span class="fab fa-vk"></span></a></li>
                  </ul>
                  <p class="my-3">Chúng tôi tự hào là nhà cung cấp dịch vụ tốt nhất. 
                  </p>
               </div>
               <div class="email-sub-agile">
                  <form action="#" method="post">
                     <div class="form-group sub-info-mail">
                        <input type="email" class="form-control email-sub-agile" placeholder="Email">
                     </div>
                     <div class="text-center">
                        <button type="submit" class="btn subscrib-btnn">Đăng Ký</button>
                     </div>
                  </form>
               </div>
            </div>
         </section>
         <!--//subscribe-->
         <!-- footer -->
         <footer class="py-lg-4 py-md-3 py-sm-3 py-3 text-center">
            <div class="copy-agile-right">
               <p> 
                  © 2019 Cửa Hàng Đồ Chơi | Thiết Kế Bởi TranHuynh</a>
               </p>
            </div>
         </footer>
         <!-- //footer -->
         <!-- Modal 1-->
         <div class="modal fade"  id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
               <div class="modal-dialog" role="document">
                  <div class="modal-content" style="background: rgb(255, 233, 233); border-radius: 2px; border: 1px solid rgb(251, 196, 196); box-sizing: border-box; color: #de5959; float: none; font-family: Arial, sans-serif; font-size: 15px; margin: 0px auto; outline: 0px; padding: 15px 20px; vertical-align: baseline;">
                     <h1>BẠN ĐÃ CÓ TÀI KHOẢN!</h1>
                        <div class="btn_"><a href="/signin">Sign In</a><a href="/signup">Sign Up</a></div>
                    
                     </div>
                  </div>
               </div>
            </div>
         <!-- //Modal 1-->
         <!--js working-->
         <script src='js/jquery-2.2.3.min.js'></script>
         <!--//js working-->
         <!-- cart-js -->
         <script src="js/minicart.js"></script>
         <script>
            toys.render();
            
            toys.cart.on('toys_checkout', function (evt) {
               var items, len, i;
            
               if (this.subtotal() > 0) {
                  items = this.items();
            
                  for (i = 0, len = items.length; i < len; i++) {}
               }
            });
         </script>
         <!-- //cart-js -->
         <!--responsiveslides banner-->
         <script src="js/responsiveslides.min.js"></script>
         <script>
            // You can also use "$(window).load(function() {"
            $(function () {
               // Slideshow 4
               $("#slider4").responsiveSlides({
                  auto: true,
                  pager:false,
                  nav:true ,
                  speed: 900,
                  namespace: "callbacks",
                  before: function () {
                     $('.events').append("<li>before event fired.</li>");
                  },
                  after: function () {
                     $('.events').append("<li>after event fired.</li>");
                  }
               });
            
            });
         </script>
         <!--// responsiveslides banner-->	 
         <!--slider flexisel -->
         <script src="js/jquery.flexisel.js"></script>
         <script>
            $(window).load(function() {
               $("#flexiselDemo1").flexisel({
                  visibleItems: 3,
                  animationSpeed: 3000,
                  autoPlay:true,
                  autoPlaySpeed: 2000,    		
                  pauseOnHover: true,
                  enableResponsiveBreakpoints: true,
                  responsiveBreakpoints: { 
                     portrait: { 
                        changePoint:480,
                        visibleItems: 1
                     }, 
                     landscape: { 
                        changePoint:640,
                        visibleItems:2
                     },
                     tablet: { 
                        changePoint:768,
                        visibleItems: 2
                     }
                  }
               });
               
            });
         </script>
         <!-- //slider flexisel -->
         <!-- start-smoth-scrolling -->
         <script src="js/move-top.js"></script>
         <script src="js/easing.js"></script>
         <script>
            jQuery(document).ready(function ($) {
               $(".scroll").click(function (event) {
                  event.preventDefault();
                  $('html,body').animate({
                     scrollTop: $(this.hash).offset().top
                  }, 900);
               });
            });
         </script>
         <!-- start-smoth-scrolling -->
         <!-- here stars scrolling icon -->
         <script>
            $(document).ready(function () {
            
               var defaults = {
                  containerID: 'toTop', // fading element id
                  containerHoverID: 'toTopHover', // fading element hover id
                  scrollSpeed: 1200,
                  easingType: 'linear'
               };
               $().UItoTop({
                  easingType: 'easeOutQuart'
               });
            
            });
         </script>
         <!-- //here ends scrolling icon -->
         <!--bootstrap working-->
         <script src="js/bootstrap.min.js"></script>
         <!-- //bootstrap working-->
      </body>
   </html>