
<body>
       <!--headder-->
       <% include partials/header.ejs %>
       <!--//headder-->
      <div class="signin">
            <div class="center">
                <h3>ĐĂNG NHẬP</h3>
                <% if (hasErrors) { %>
                    <div class="alert alert-danger">
                        <% locals.messages.forEach(function(message){  %>
                            <%= message %>
                            <%});%>
                    </div>
                <% } %>
      
                <form action="/user/signin" method="POST">
                    <div class="field">
                        <div class="label" for="email">Email</div><input type="email" name="email" placeholder="Email" /></div>
                    <div class="field">
                        <div class="label" for="password">Mật khẩu</div><input type="password" name="password" placeholder="Mật khẩu" /></div><button class="btn" type="submit">Đăng nhập</button>
                        <p>Bạn chưa có tài khoản?-> <a href="/user/signup">Đăng ký tại đây.</a></p>
                </form>
                
            </div>
                
        </div>
        
        </body>
        </html>
