<!DOCTYPE html>
<html lang="vn">
   <head>
      <title>Trang chủ</title>
      <!--meta tags -->
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="keywords" content="Toys Shop Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
         Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
      <script>
         addEventListener("load", function () {
         	setTimeout(hideURLbar, 0);
         }, false);
         
         function hideURLbar() {
         	window.scrollTo(0, 1);
         }
      </script>
      <link rel="stylesheet"  href='../stylesheets/style.css'type="text/css" media="all">
      <!--//meta tags ends here-->
      <!--booststrap-->
      <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all">
      <!--//booststrap end-->
      <!-- font-awesome icons -->
      <link href="css/fontawesome-all.min.css" rel="stylesheet" type="text/css" media="all">
      <!-- //font-awesome icons -->
      <!--Shoping cart-->
      <link rel="stylesheet" href="css/shop.css" type="text/css" />
      <!--//Shoping cart-->
      <!--stylesheets-->
      <link href="css/style.css" rel='stylesheet' type='text/css' media="all">
      <!--//stylesheets-->
      <link href="//fonts.googleapis.com/css?family=Sunflower:500,700" rel="stylesheet">
      <link href="//fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
   </head>
<body>
    <div class="signin">
        <h1 style="color: #333; font-size:2em;"> Don't Have An Account</h1>
                <div class="center">
                    <h3>SIGN UP</h3>
                    <form action="/signup" method="POST">
                        <div class="field">
                            <div class="label" for="email">Email</div><input style="width:80%;" type="email" name="email" placeholder="Email" /></div>
                        <div class="field">
                            <div class="label" for="password">Password</div><input style="width:80%;" width="80%" type="password" name="password" placeholder="Password" /></div><button class="btn" type="submit">Sign Up</button></form>
                </div>
            </div>
        </div>
        </body>
        </html>
