<% include partials/header.ejs %>
         <!-- //short-->
         <!--//banner -->
         <!--/shop-->
         <section class="banner-bottom py-lg-5 py-3">
            <div class="container">
               <div class="inner-sec-shop pt-lg-4 pt-3">
                  <div class="row">
                     <div class="col-lg-4 single-right-left ">
                        <div class="grid images_3_of_2">
                           <div class="flexslider1">
                              <ul class="slides">
                                 <li data-thumb="images/f2.jpg">
                                    <div class="thumb-image"> <img src="images/f2.jpg" data-imagezoom="true" class="img-fluid" alt=" "> </div>
                                 </li>
                                 <li data-thumb="images/f1.jpg">
                                    <div class="thumb-image"> <img src="images/f1.jpg" data-imagezoom="true" class="img-fluid" alt=" "> </div>
                                 </li>
                                 <li data-thumb="images/f3.jpg">
                                    <div class="thumb-image"> <img src="images/f3.jpg" data-imagezoom="true" class="img-fluid" alt=" "> </div>
                                 </li>
                              </ul>
                              <div class="clearfix"></div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-8 single-right-left simpleCart_shelfItem">
                        <h3>Gấu Teddy (Nâu)</h3>
                        <p><span class="item_price">350.000</span>
                           <del>75.000</del>
                        </p>
                        <div class="rating1">
                           <ul class="stars">
                              <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                              <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                              <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                              <li><a href="#"><i class="fa fa-star-half-o" aria-hidden="true"></i></a></li>
                              <li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
                           </ul>
                        </div>
                        <div class="color-quality">
                           <div class="color-quality-right">
                              <h5>Size :</h5>
                              <select id="country1" onchange="change_country(this.value)" class="frm-field required sect">
                                 <option value="null">20 Cm</option>
                                 <option value="null">50 Cm</option>
                                 <option value="null">100 Cm</option>
                                 <option value="null">200 Cm</option>
                              </select>
                           </div>
                        </div>
                        <div class="occasional">
                           <h5>Loại</h5>
                           <div class="colr ert">
                              <label class="radio"><input type="radio" name="radio" checked=""><i></i> Gấu Teddy (Nâu)</label>
                           </div>
                           <div class="colr">
                              <label class="radio"><input type="radio" name="radio"><i></i>Gấu Teddy (Đen)</label>
                           </div>
                           <div class="colr">
                              <label class="radio"><input type="radio" name="radio"><i></i>Gấu Teddy (Hồng)</label>
                           </div>
                           <div class="clearfix"> </div>
                        </div>
                        <div class="occasion-cart">
                           <div class="toys single-item singlepage">
                              <form action="#" method="post">
                                 <input type="hidden" name="cmd" value="_cart">
                                 <input type="hidden" name="add" value="1">
                                 <input type="hidden" name="toys_item" value="Gấu Teddy(Nâu)">
                                 <input type="hidden" name="amount" value="575.00">
                                 <button type="submit" class="toys-cart ptoys-cart add">
                                 Thêm Vào Giỏ
                                 </button>
                              </form>
                           </div>
                        </div>
                        <ul class="footer-social text-left mt-lg-4 mt-3">
                           <li>Chia sẻ </li>
                           <li class="mx-1">
                              <a href="#">
                              <span class="fab fa-facebook-f"></span>
                              </a>
                           </li>
                           <li class="">
                              <a href="#">
                              <span class="fab fa-twitter"></span>
                              </a>
                           </li>
                           <li class="mx-1">
                              <a href="#">
                              <span class="fab fa-google-plus-g"></span>
                              </a>
                           </li>
                           <li class="">
                              <a href="#">
                              <span class="fab fa-linkedin-in"></span>
                              </a>
                           </li>
                           <li class="mx-1">
                              <a href="#">
                              <span class="fas fa-rss"></span>
                              </a>
                           </li>
                        </ul>
                     </div>
                     <div class="clearfix"> </div>
                     <!--/tabs-->
                     <div class="responsive_tabs">
                        <div id="horizontalTab">
                           <ul class="resp-tabs-list">
                              <li>Mô tả</li>
                              <li>Bình luận</li>
                           </ul>
                           <div class="resp-tabs-container">
                              <!--/tab_one-->
                              <div class="tab1">
                                 <div class="single_page">
                                    <h6>Gấu cực dễ thương</h6>
                                    <p>Gấu Teddy luôn là lựa chọn độc đáo trong các dịp lễ, nhất là sinh nhật mà các chàng trai dành cho những cô nàng mà họ hết mực yêu thương. Vì những lúc này bạn đang muốn thể hiện với người ấy bằng tình cảm chân thành, dịu dàng và ấm áp nhất. Đặc biệt, nó còn khiến cho cô gái trở có cảm giác chàng luôn bên cạnh cô, lắng nghe cô mọi điều. Tuy nhiên việc lựa chọn gấu Teddy như thế nào
                                       Được làm từ bông và vải tự nhiên,thân thiên môi trường. Gấu Teddy cực kỳ nổi tiếng được rất nhiều các em nhỏ yêu thích.
                                    </p>
                                   
                                 </div>
                              </div>
                              <!--//tab_one-->
                              <div class="tab2">
                                 <div class="single_page">
                                    <div class="bootstrap-tab-text-grids">
                                       <div class="bootstrap-tab-text-grid">
                                          <div class="bootstrap-tab-text-grid-left">
                                             <img src="images/team1.jpg" alt=" " class="img-fluid">
                                          </div>
                                          <div class="bootstrap-tab-text-grid-right">
                                             <ul>
                                                <li><a href="#">Trần Huỳnh</a></li>
                                                <li><a href="#"><i class="fa fa-reply-all" aria-hidden="true"></i> Reply</a></li>
                                             </ul>
                                             <p>Rất đáng mua. Mọi người chắc ai cũng từng thắc mắc tại sao người ta hay gọi người yêu mình là “Gấu” đúng không nhỉ? Như chúng ta biết, gấu là một loại động vật to béo, mũm mĩm với một bộ lông dày và mịn màng, ấm áp. Một cảm giác mềm mại biết bao khi mình được ôm gấu và cũng chính vì vậy mà người ta thường gọi người yêu của mình là gấu. Và ngoài ra còn một lí do khác nữa đó là gấu là một loài động vật  thích ăn mật ong. Cũng giống như những người con gái luôn thích sự ngọt ngào, lãng mạn trong tình yêu. Và dành tặng cho các cô nàng một chú gấu Teddy thì thật ý nghĩa và độc đáo.
                                             </p>
                                          </div>
                                          <div class="clearfix"> </div>
                                       </div>
                                       <div class="add-review">
                                          <h4>Thêm bình luận</h4>
                                          <form action="#" method="post">
                                             <div class="row">
                                                <div class="col-md-4">
                                                   <input type="text" name="Name" required="" placeholder="Nhập tên">
                                                </div>
                                                <div class="col-md-4">
                                                      <h3>Hoặc</h3>
                                                </div>
                                                <div class="col-md-2">
                                                   <div class="btn_"><a href="/user/signin">Đăng Nhập</a></div>
                                                </div>
                                             </div>
                                             <textarea name="Message" required=""></textarea>
                                             <input type="submit" value="SEND" placeholder="Bình luận tại đây...">
                                          </form>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              
                           </div>
                        </div>
                     </div>
                     <!--//tabs-->
                  </div>
               </div>
            </div>
         </section>
        
        
         <!--//subscribe-->
         <% include partials/footer.ejs %>